/*Google Fonts Import*/
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Variables */
:root {
    --primary-font--: "Montserrat", serif;
    --secondary-font--: "IM Fell Double Pica", serif;
    --primary-color--: #F3EED8; /*Cream*/
    --secondary-color--: #2B4A4A; /*Dark Blue*/
    --tertiary-color--: #3C331C; /*Dark Brown*/
    --highlight-color-warm--: #EDC479; /*Caramel*/
    --highlight-color-cold--: #7EA5A2; /*Light Blue*/            
}

/*Global Styles*/
body {
    font-family: var(--primary-font--);
    color: var(--tertiary-color--);
    padding-top: 86px; /*Prevent Navbar covering top of body*/
    background-color: var(--primary-color--);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--secondary-font--);
    color: var(--tertiary-color--);
    text-transform: uppercase;
}

hr {
    border-color: var(--tertiary-color--);
}

.section {
    padding-top: 1rem;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
}

.card {
    border-radius: none;
}

/* Buttons */
.custom-button-light {
    border: 1px solid var(--tertiary-color--);
    border-radius: 2px;
    background-color: var(--primary-color--);
    color: var(--tertiary-color--);
    width: 9rem;
    padding: 3px 6px;
    width: 130px;
    transition: ease-in-out;
}

.custom-button-light:hover {
    border: 1px solid var(--tertiary-color--);
    border-radius: 2px;
    background-color: var(--highlight-color-warm--);
    color: var(--tertiary-color--);
    width: 9rem;
    padding: 3px 6px;
    width: 130px;
    transition: ease-in-out;
}

.custom-button-outline {
    border: 1px solid var(--highlight-color--);
    border-radius: 2px;
    background-color: transparent;
    color: var(--highlight-color--);
    padding: 7px 25px;
    width: 9rem;
    transition: ease-in-out;
}

.custom-button-outline:hover {
    border: 1px solid var(--highlight-color--);
    border-radius: 2px;
    background-color: var(--highlight-color--);
    color: white;
    padding: 7px 25px;
    width: 9rem;
    transition: ease-in-out;
}

/*Navbar Styles*/
#navbar {
    background-color: #2B4A4A;
    color: var(--primary-color--);
    box-shadow: 0 5px 10px rgba(36, 36, 36, 0.5);
}

#navbar .navbar-nav * {
    font-family: var(--secondary-font--);
    font-size: 1.0rem;
    text-transform: uppercase;
}

#navbar-logo:hover {
    content: url(../images/logo-hover.png);
    transition: ease-in-out;
}

/*Homepage*/

/*Header Section*/
#homepage-hero {
    background: url(../images/homepage-hero-image.webp) no-repeat center center/cover;
    position: relative;
    height: 500px;
    width: 100%;
}

#call-to-action {
    /* Final rgba valye sets the opacity so it is semi-transparent */
    background-color: rgba(237, 196, 121, .75);
    position: absolute;
    top: 30%;
    width: 70%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    z-index: 100;
}

/*Tour Cards Section*/
#tour-cards .card {
    margin: 0.6rem;
    border: none;
}

#tour-cards .card:hover {
    box-shadow: 5px 5px 10px rgba(36, 36, 36, 0.5);
}

#tour-cards .card-body {
    background-color: rgba(126, 165, 162, .6);
}

#tour-cards .card-title {
    color: var(--tertiary-color--);
}

/*Footer Section*/
footer {
    background-color: rgba(237, 196, 121, .6);
}

/*Media queries*/

/* Medium devices (tablets 768px and up)*/
@media screen and (min-width: 768px) {
    #signature {
        width: 180px;
    }
    #tour-cards .card-body {
        min-height: 200.16px;
    }
}

/*Large devices (laptops 992px and up)*/
@media screen and (min-width: 992px) {
    #signature {
        width: 200px;
    }
    #tour-cards .card-body {
        min-height: 280.61px;
    }
}

/*Extra Large devices (desktops 1200px and up)*/
@media screen and (min-width: 1200px) {
    #tour-cards .card-body {
        min-height: 260.78px;
    }
}

/*Extra Extra Large devices (large desktops 1400px and up)*/
@media screen and (min-width: 1400px) {
    #tour-cards .card-body {
        min-height: 203.19px;
    }
}